<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="DatabaseConnectionString1" connectionString="Server=f26284d0-e35c-4bb5-a767-a1f2011fff9d.sqlserver.sequelizer.com;Database=dbf26284d0e35c4bb5a767a1f2011fff9d;User ID=eszungnithzndezo;Password=L3SxnsrDNMuvS8vie5Wxdq7ncKuro7Z4NiHiK8QZzyi24jHV4VzmvFEv5DuK6aqQ;"
   providerName="System.Data.SqlClient" />
   </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
</configuration>
